.navbar {
  transition: transform 0.4s ease-in-out;
  width: 100vw !important; /* Forces full width */
}

.navbar.hide {
  transform: translateY(-100%);
}

.navbar.show {
  transform: translateY(0);
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevents unwanted horizontal scrolling */
}
